<% @rewards.each do |reward| %>
  <div>
    <%= reward.title %>
    <%= reward.description %>
    <%= reward.value %>
    <%= reward.image %>
    <% if current_user %>
      <%= link_to "Redeem #{reward.title}", user_path(@user) %>
    <% end %>
  </div>
<% end %>
