<div class="page-header">
  Rewards
</div>

<%= render partial: "partial/flash" %>

<div class="flex-box">
  <% @rewards.each do |reward| %>
    <div class="box">
      <strong><%= reward.title %></strong>
      <strong><h4><%= reward.description %><h4></strong>
      <strong><h4><%= reward.value %> Points</h4></strong>
      <% if current_user %>
      <div class="button">
        <h3><%= link_to "Redeem #{reward.title}", edit_reward_path(reward) %></h3>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
