<% @rewards.each do |reward| %>
  <div>
    <%= reward.title %>
    <%= reward.description %>
    <%= reward.value %>
    <%= reward.image %>
    <% if @user %>
      <%= link_to 'Redeem Reward', rewards_path %>
    <% end %>
  </div>
<% end %>
