<!DOCTYPE html>
<html>
  <head>
    <title>PointsBox</title>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "main.css" %>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "partial/navigation" %>
    <%= yield %>
  </body>
</html>
